.navbar {
  padding: 1rem;

  display: flex;
  place-content: center;

  a:not([class]) {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__brand {
    font-size: 2rem;
    font-weight: bold;
  }
}